<div class="tweet">
    <div class="user-info">
        <img src="{{user.avatar}}" alt="{{user.username}}'s profile picture">
        <h2>{{user.username}}</h2>
    </div>
    <p>{{tweetText}}</p>
</div>