

<form action="/tweet" method="post" enctype="multipart/form-data">
    <div class="tweet-content">
        <textarea id="tweet-text" name="content" placeholder="What's happening?"></textarea>
        <div class="separator-line"></div> <!-- Separator line -->
            <div class="tweet-options">
                <div class="icon-options">
                    <div class="image-option">
                        <i class="fa fa-image"></i>
                    </div>
                    <div class="gif-option">
                        <i class="fa fa-file-image"></i>
                    </div>
                </div>
            <button type="submit" class="tweet-button">Post</button>
        </div>
        </div>
</form>