{{#if message}}
    <div class="error-container">
        {{message}}
    </div>
{{/if}}

<div class="editprofile-container">
    <h3>Profile options for {{username}}</h3>
    <form class="editprofile-form" action="/dev/saveprofile" method="post" enctype="multipart/form-data">
        <label for="picture">Picture:</label>
        <input type="file" id="picture" name="picture" accept=".png, .jpg, .jpeg"/>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{name}}"/>
        <label for="description">Description:</label>
        <textarea for="description" name="description">{{description}}</textarea>
        <button type="submit">Save Profile</button>
    </form>
</div>