<div class="post-form">
    <form action="/post" method="post">
        <textarea id="post-input" name="post" rows="4" cols="50" style="resize:none;" placeholder="Tell us about your day..."></textarea>
        <button type="submit-post" class="btn btn-primary">Post</button>
    </form>
</div>

<ul>
    {{#each recentPosts}}
        {{> largePost}}
    {{/each}}
</ul>