<form action="/post" method="post">
    <ul>
        <li>
            <textarea for="post" name="post"></textarea>
        </li>
        <li>
            <button type="submit">Post</button>
        </li>
    </ul>
</form>

<br>
<br>

{{#each posts}}
    {{> post}}
{{/each}}