<form action="/post" method="post">
    <ul>
        <li>
            <textarea for="post" name="post"></textarea>
        </li>
        <li>
            <button type="submit">Post</button>
        </li>
    </ul>
</form>

<br>
<br>

{{#each posts}}
    <div>
            <b>{{username}}</b> posted:
            <br>
            {{post}}
            <br>
            {{postDate}}
            <br>
            {{#if ../authenticated}}
                {{#if (or (eq username ../username) ../admin)}}
                    <br>
                    <form action="/delete/{{_id}}" method="get">
                        <button type="submit">Delete</button>
                    </form>
                {{/if}}
            {{/if}}
    </div>
{{/each}}