<div class="d-flex justify-content-center pt-5">
    <div class="form-group w-25">
        <form action="/post" method="post">
            <textarea name="post" class="form-control rounded-0" rows="3" style="resize:none;">Tell us about your day...</textarea>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>

<div class="container d-inline-flex justify-content-center mt-5">
    <ul class="list-group">
        {{#each recentPosts}}
            {{> largePost}}
        {{/each}}
    </ul>
</div>