{{#if message}}
    <h1>{{message}}</h1>
{{else}}
    <h1>No error</h1>
{{/if}}

<form action="/login" method="post">
    <ul>
        <li>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </li>
        <li>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </li>
        <li>
            <button type="submit">Sign In</button>
        </li>
    </ul>
</form>