{{#if message}}
    <div class="error-container">
        {{message}}
    </div>
{{/if}}

<div class="register-container">
    <form class="register-form" action="/register" method="post" enctype="multipart/form-data">
        <label for="username">Username</label>
        <input type="username" id="username" name="username" placeholder="Username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Password" required>

        <button type="submit">Sign Up</button>
    </form>

    <div class="login-link">
            Already have an account? <a href="/login">Login here</a>
    </div>
</div>
